<!DOCTYPE html>
<html>
<head>
    <title>Payment Confirmation</title>
</head>
<body>
    <p>Dear {{ user.first_name }},</p>
    <p>Your request for the announcement {{ annonce.lieu_depart }} to {{ annonce.destination }} has been accepted.</p>
    <p>The total price is ${{ total_price }}. Please proceed with the payment using the link below:</p>
    <p><a href="{{ payment_link }}">Pay Now</a></p>
    <p>Thank you for using our service.</p>
    <p>Best regards,</p>
    <p>En voyage Team</p>
    <p>&copy; {{ year }} En voyage</p>
</body>
</html>
